*{
    margin: 0px;
    padding: 0px;
}

/* .bg {
    width: 100%;
    height: 100vh;

    background-size: 300% 300%;

  } */

  .diagonal {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(55deg, #a5fff6 30%, #ffffff 48%);
    /*clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
     animation: diagonalAnimation 3s ease forwards ;
    transition-delay: initial;
     transform-origin: top left; Set the origin for animation */
}

/* @keyframes diagonalAnimation {
    0% {
        transform: translate(100%, -100%);
    }
    100% {
        transform: translate(0, 0);
    }
} */

  .navbar{
   height: 70px;
    width: 100%;
justify-content: space-evenly;
    gap: 10px;

  }
  .navbar .nav{
    display: flex;
    gap: 30px;
  }
  .navbar .nav-item a{
    font-size: 20px;
    color: #02249d;
    font-weight: bold;
  }
  .navbar-brand{
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 2rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
  }
  .nav ul .nav-item a:hover{

    color: #6402a5;
  }
  .col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .img-div{
    margin: 13px;
    height: 500px;
    width: 100%;
    padding: 0px 10px 20px ;
  }
  .img-div img{
    height:500px ;
    width :450px;
    animation:  2s img-anime ease-in ;

  }
  @keyframes img-anime {
    0% {
      opacity: 0;
     transform: scale(0.9);
    }

    50% {
      opacity: 5;

    }
    75% {
      opacity: 5;

    }
    100% {
      transform: scale(1);
    }
  }

.text-content{
  padding: 20px 10px 20px 40px;
  width: 100%;
  margin: 30px;
  animation:  1.5s text-anime ease-in ;
}
@keyframes text-anime {
  0% {
    opacity: 0;

  }

  50% {
    opacity: 0;

  }

}

.line {
  width: 100%;
  overflow: hidden;
  padding: 5px;

}

.line h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.lineUp {
  animation: 4s anim-lineUp ease-out ;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
  .animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #faf8f8;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear ;
  display: inline-block;
      font-size: 80px;
      font-family: fantasy;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  max-width: 50ch;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  margin-bottom: 17px;
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  /* filter: blur(7px); */
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(10) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(11) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(12) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(13) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(14) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(15) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(16) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(17) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(18) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.btn{
  background-color: #190c8d;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  position: relative;
  outline: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 40px;
  width: 120px;
}
.btn:hover{
  background-color: #6d00b6;
  color: white;
}

.dropdown-1 {
  display: none;
  position: relative;
background-color: rgb(249, 242, 242);
  width: 160px;
  left: 35%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.show{
  display: block;
}
.dropdown-menu  .dropdown-2 a:hover{
  color: white;
    background-color: #150494;
    
    border-radius: 5px;
  }

  

.dropdown-1 .dropdown-2 a:hover{
color: white;
  background-color: #150494;
  
  border-radius: 5px;
}
.dropdown-2 {
  position: relative;
  display: inline;
}
.dropdown-2 a:hover{
  color: #f8f8f8;
}

.dropdown-content {
  display: none;
  position:absolute;
  top: 30%;
  left: 100%;

  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {

  padding: 5px 13px;
  text-decoration: none;
  display: flex;
}

.dropdown-content a:hover {
  background-color: #ecf2f2;
  
}

.dropdown-2:hover .dropdown-content {
  display: block;

}


.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.line1, .line2, .line3 {
  width: 25px;
  height: 3px;
  background-color: #190c8d;
  margin: 5px;
}

@media screen and (max-width: 848px) {
  .nav-item {
    display: none;
  }

  .burger {
    display: flex;
  }

  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}


.overlay {
  min-height: 55%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
 
}

.overlay-content {
 
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.overlay a {
  padding: 5px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: #1c017e;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #0112ff;
 
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 20px;
}

/* @media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
} */

.searchbar{
  width: 42%;
}
.searchbar .btn{
  border-radius: 3px;
  width: 75px;
}


